body{
  background-color: #ebeced;
}

#border{
  border: 15px navy solid;
  padding:30px;
}
.smalltext{
  color:navy;
  font-family:swidth: 100%;
  font-style: italic;
  font-size: 15px;
  width: 1000px;
  padding-left: 375px;
}
div{
  padding-left:200px;
  line-height: 15px;
  display: inline-block;
}
#ten{
  font-size: 50px;
  color:lightblue;
}
.things{
font-size: 25px;
width: 125;
line-height: 100%;
padding-left: 15px;
}

.list{
  height:100px;
  width:167px;
  margin: 20px;
  display:inline-block;
  border: 8px solid navy;
  padding:20px;
  background-color: white;
  font-size: 20px;
  line-height: normal;

}

#box{
  display: block;
  margin-left: 250px;
}
