<html>
 <head>
   <title>About Me</title>
   <link rel = "stylesheet" href="/resources/ten.css">
 </head>
 <body>
   <div class='smalltext'><h4>
     To be yourself in a world that is constantly trying to make you something else is the greatest accomplishment
   </h4></div>
   <div id = box>
   <div id= 'ten'><h1>
     10
   </h1></div>
   <div class= 'things'>
     Things About Myself
   </div>
 </div>

   <div class= 'list'>
   </div>
   <div class= 'list'>
   </div>
   <div class= 'list'>
   </div>
   <div class= 'list'>
   </div>
   <div class= 'list'>
   </div>
   <div class= 'list'>
   </div>
   <div class= 'list'>
   </div>
   <div class= 'list'>
   </div>
   <div class= 'list'>
   </div>
   <div class= 'list'>
   </div>
   <script src = 'ten.js'></script>
   <script src="jquery-3.2.1.min.js"></script>
 </body>
</html>
